body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* ------  header --------*/

.btn-outline-blanc {
  color: white;
  border: solid 0.5px white;
  vertical-align: top !important ;
}
.btn-outline-blanc:hover {
  color: #343a40;
  background-color: white;
}
nav i:hover {
  color: grey;
}
/* -----   fin header ------- */

/*   -----   main ------ */
/* #Connexion {
  height: 450px;
} */

#Connexion img {
  margin: 0 auto;
}
#Connexion p {
  font-size: smaller;
}
.fb {
  font-size: 30px !important;
}
#corp a {
  color: white;
}

#log a {
  color: #343a40;
}

@media screen and (max-width: 768px) {
  .row {
    display: inline;
  }
}

.centrer {
  text-align: center;
}

/*  ----------- footer ---------- */

/*footer {
        bottom: 0;
        position: absolute;}*/

div.fw-footer {
  margin-bottom: 0;
  width: 100%;
  padding: 2em 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btw {
  border-top: solid white 0.5px;
}

article {
  margin: 0 auto;
}
footer p {
  margin: 0;
}
#resaux i {
  font-size: 20px;
  margin-bottom: 10px;
}
#resaux a {
  color: white;
}

#resaux a:hover {
  color: grey;
}

/* ----  fin footer ------*/
